<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap3 rescap">
  <Identity
    Name="49898SagarKotian.WingetUpdateCenter"
    Publisher="CN=BECB1D0A-DE53-4330-A90B-FA512C493BF5"
    Version="1.0.0.0" />

  <Properties>
    <DisplayName>Winget Update Center</DisplayName>
    <PublisherDisplayName>Sagar Kotian</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.19041.0" MaxVersionTested="10.0.26100.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.26100.0" />
  </Dependencies>

  <Resources>
    <Resource Language="en-US" />
  </Resources>

  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Winget Update Center"
        Description="Review installed applications and update them with Winget"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:ExeServer Executable="WingetUpdateCenter.CommandPalette.exe" Arguments="-RegisterProcessAsComServer" DisplayName="Winget Update Center">
              <com:Class Id="426EBE4F-275E-48E5-9944-F2A6D217B326" DisplayName="Winget Update Center" />
            </com:ExeServer>
          </com:ComServer>
        </com:Extension>
        <uap3:Extension Category="windows.appExtension">
          <uap3:AppExtension
            Name="com.microsoft.commandpalette"
            Id="WingetUpdateCenter"
            PublicFolder="Public"
            DisplayName="Winget Update Center"
            Description="Review installed applications and update them with Winget">
            <uap3:Properties>
              <Icon>Assets\StoreLogo.png</Icon>
              <CmdPalProvider>
                <Activation>
                  <CreateInstance ClassId="426EBE4F-275E-48E5-9944-F2A6D217B326" />
                </Activation>
                <SupportedInterfaces>
                  <Commands />
                </SupportedInterfaces>
              </CmdPalProvider>
            </uap3:Properties>
          </uap3:AppExtension>
        </uap3:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
